<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mod.android.widget.fbcw"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <receiver android:name=".FastBrightnessControlWidget" android:label="@string/app_name">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>                
            </intent-filter>            
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/fbcw_widget_provider"/>                       
        </receiver>
        
        <activity android:name=".BrightnessControl" android:theme="@style/Theme.Transparent" >
            <intent-filter >
                <action android:name="com.mod.android.widget.fbcw.FastBrightnessControlWidget.ACTION_SET_BRIGHTNESS"/>
            </intent-filter>
        </activity>
        
    </application>

</manifest>