<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mod.android.widget.fbcw"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity android:name=".ConfigurationActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".FastBrightnessControlWidget" android:label="@string/app_name">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>                
            </intent-filter>            
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/fbcw_widget_provider"/>                       
        </receiver>
        
        <activity android:name=".BrightnessControlActivity" android:theme="@style/Theme.Transparent" >
            <intent-filter >
                <action android:name="com.mod.android.widget.fbcw.FastBrightnessControlWidget.ACTION_SET_BRIGHTNESS"/>
            </intent-filter>
        </activity>
        
    </application>

</manifest>